[Unit]
Description=Calaos home automation server service
After=network.target

[Service]
ExecStartPre=/bin/mkdir -p /etc/calaos/.cache/calaos
ExecStart=/usr/bin/calaos_server --config /etc/calaos --cache /etc/calaos/.cache/calaos
Type=simple
User=calaos
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
