[Unit]
Description=EIBnetmux Daemon
After=network.target

[Service]
EnvironmentFile=/etc/default/eibnetmux
ExecStart=/usr/bin/eibnetmux -s -t -e $KNX_GATEWAY:$KNX_PORT
Type=simple
User=root
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
