[Unit]
Description=EIBnetmux Daemon
After=network.target

[Service]
EnvironmentFile=-/etc/default/eibnetmux
ExecStart=/usr/bin/eibnetmux $EIBNETMUX_ARGS
Type=simple
User=root
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
