[Unit]
Description=Calaos home automation touchscreen UI
After=xserver-nodm.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/calaos_home_qt --config /etc/calaos --cache /etc/calaos/.cache/calaos
Restart=always
RestartSec=0
Type=simple
User=calaos

[Install]
WantedBy=multi-user.target
