[Unit]
Description=Calaos home automation server service
After=network.target

[Service]
ExecStartPre=/bin/mkdir -p /home/root/.cache/calaos /etc/calaos
ExecStart=/usr/bin/calaos_server --config /etc/calaos --cache /home/root/.cache/calaos
Type=simple
User=root
Restart=always

[Install]
WantedBy=multi-user.target
